<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Prescription</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/css/style.css" />
    <!------ Include the above in your HEAD tag ---------->

    <style>
      body {
        background-image: linear-gradient(
            rgba(29, 212, 212, 0.664),
            rgba(0, 0, 0, 0.7)
          ),
          url("css/img/1.jpg"), url(img/1.jpg);

        background: grey;
      }

      body {
        background: rgb(247, 247, 247);
      }

      .container {
        margin-top: 5px;
        margin-left: 250px;
      }

      hr {
        background: rgb(228, 65, 36);
      }

      .contact-form {
        background: rgb(242, 244, 245);
        color: black;
        margin-top: 20px;

        padding: 100px;

        box-shadow: 0px 0px 10px 3px rgba(66, 64, 64, 0.267);
      }

      .ffggg {
        margin-left: 50px;
      }
    </style>
  </head>

  <body>
    <% include partials/labnav %>
    <div class="container" id="ffggg">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <form id="Test">
              <div class="card-body p-0">
                <div class="row p-5">
                  <div class="col-md-12">
                    <h1><%=Hospital.title%></h1>
                  </div>

                  <div class="col-md-6">
                    <p class="font-weight-bold mb-1">Invoice</p>
                    <p class="text-muted"><%= Date() %></p>
                  </div>
                </div>

                <hr class="my-5" />

                <div class="row pb-5 p-5">
                  <div class="col-md-6">
                    <p class="font-weight-bold mb-4">Dr Information</p>
                    <p class="mb-1">
                      <span class="text-muted">Name </span><%=pst.name %>
                    </p>
                    <input
                      hidden
                      type="text"
                      id="drname"
                      value="<%=pst.name %>"
                    />
                    <input hidden type="text" id="drid" value="<%=pst._id %>" />
                    <input hidden type="text" id="hid" value="<%=pst.hid %>" />
                    <p class="mb-1">
                      <span class="text-muted">Specialization </span
                      ><%=pst.department %>
                    </p>
                  </div>

                  <div class="col-md-6 text-right">
                    <p class="font-weight-bold mb-4">Patient Info</p>
                    <p class="mb-1">
                      <span class="text-muted">Name </span><%=posts.name %>
                    </p>
                    <input
                      hidden
                      type="text"
                      id="ptname"
                      value="<%=posts.name %>"
                    />
                    <input
                      hidden
                      type="text"
                      id="ptid"
                      value="<%=posts._id %>"
                    />
                    <input
                      hidden
                      type="text"
                      id="ptemail"
                      value="<%=posts.email %>"
                    />
                    <p class="mb-1">
                      <span class="text-muted">Email: </span><%=posts.email %>
                    </p>
                    <p class="mb-1">
                      <span class="text-muted">Gender: </span><%=posts.gender %>
                    </p>
                    <p class="mb-1">
                      <span class="text-muted">Blood </span> <%=posts.blood %>
                    </p>
                  </div>
                </div>

                <div class="row p-5">
                  <div>
                  <div class="col-md-12">
                    <label>Test Names</label>
                    <textarea
                      type="text"
                      name="name"
                      id="nameid"
                      class="form-control"
                      required
                    ></textarea>
                  </div>
                  <div class="col-md-12">
                    <label>Details</label>
                    <textarea
                      type="text"
                      name="name"
                      id="detailid"
                      class="form-control"
                      required
                    ></textarea>
                  </div>
                  <div class="col-md-12">
                    <label>Result</label>
                    <textarea
                      type="text"
                      name="name"
                      id="resultid"
                      class="form-control"
                      required
                    ></textarea>
                  </div>
                  
                  <div class="col-md-12">
                    <label></label>
                    <button
                      type="submit"
                      class="btn btn-primary form-control"
                      id="btn"
                    >
                      Submit
                    </button>
                  </div>
                  <div class="col-md-12">
                    <label></label>
                    <input
                      type="button"
                      class="btn btn-primary form-control"
                      value="Print"
                      onClick="window.print()"
                    />
                  </div>
                </div>

                
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="text-light mt-5 mb-5 text-center small">
        by :
        <a class="text-light" target="_blank" href="http://totoprayogo.com"
          >totoprayogo.com</a
        >
      </div>
    </div>
    <script
      rel="javascript"
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script rel="javascript" type="text/javascript" src="/main.js"></script>
  </body>
</html>
